@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
	--color-dark-green: #0b3d2e;
	--color-light-green: #296323;
	--color-black: #000000;
	--color-white: #ffffff;
	--color-grey: #d7d3d3;
	--font-raleway: Raleway, sans-serif;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	color: var(--color-grey);
	font-family: var(--font-raleway);
}

html {
}

.portfolio {
	display: flex;
	align-items: center;
	flex-direction: column;

	.section_one {
		display: flex;
		align-items: center;
		flex-direction: column;
		background-color: var(--color-dark-green);
		padding: 0 50px 30px;
        gap: 20px;

		.header {
			display: flex;
			justify-content: space-between;
			margin: auto;
			margin-top: 15px;
			width: 90vw;
			background-color: var(--color-light-green);
			padding: 20px 30px;
			position: fixed;
			margin-bottom: 100px;
			border-radius: 5px;
            /* box-shadow: 0 0 0 0 var(--color-grey); */

			font-family: "Raleway", sans-serif;
			font-optical-sizing: auto;
			font-style: normal;

			.name {
				/* font-size: 15px; */
			}

			.menus {
				display: flex;
				gap: 10px;
				list-style-type: none;
			}
		}

		.hero {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding-top: 100px;

			.left {
				display: flex;
				justify-content: center;
				flex-direction: column;
				gap: 10px;
				width: 50%;

				#hi {
					font-size: 1em;
				}

				#name {
					font-size: 1.5em;
				}

				#texteffect {
					font-size: 14px;
				}
				.advert {
					display: flex;
					justify-content: space-between;
					border: none;

					* {
						padding: 5px 7px;
						border-radius: 5px;
						cursor: pointer;
						transition: all 0.3s;
						font-weight: bold;

						&:hover {
							scale: 1.1;
						}
					}
					#resume {
						background-color: var(--color-light-green);
						border: none;
					}
					#hire {
						background-color: transparent;
						border: 1px solid var(--color-grey);
					}
				}
			}
			#image {
				width: 40%;
				max-width: 200px;
				background-color: var(--color-grey);
				border: 1px solid var(--color-grey);
				border-radius: 100%;
			}
		}

		.about {
			display: flex;
			flex-direction: column;
			gap: 5px;
			/* padding: 0 50px 30px; */

			h4 {
				span {
					color: var(--color-grey);
				}
			}
			p#text {
				font-size: 14px;
			}
		}
	}

	.section_two {
		display: flex;
		align-items: center;
		flex-direction: column;
		padding: 30px 50px;
		background-color: var(--color-grey);

		.skills {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 15px;

			h4 {
				color: var(--color-dark-green);
			}

			.buttons {
				display: flex;
				flex-direction: row;
				flex-wrap: wrap;
				gap: 7px;

				button {
					padding: 6px 9px;
					color: var(--color-light-green);
					font-size: 12px;
					font-weight: 600;
					border: 1.5px solid var(--color-light-green);
					border-radius: 5px;
					display: flex;
					align-items: center;
					gap: 5px;
					cursor: pointer;
					transition: all 0.3s;

					&:hover {
						scale: 1.1;
						color: var(--color-grey);
						background-color: var(--color-light-green);

						.icon {
							fill: var(--color-grey);
						}
					}

					.icon {
						fill: var(--color-light-green);
						font-size: 13px;
					}
				}
			}
		}

		.projects {
			display: flex;
			flex-direction: column;
			width: 100%;
			gap: 15px;
			padding: 30px 50px;
			background-color: var(--color-grey);
		}
	}
}
